*.obj
*.o
*.~*
*.ils
*.ilc
*.ild
*.ilf
*.map
*.drc
*.tds
*.il
*.gch
*.ii
*.pch
*.exe
*.#*
*.bak
*(from *).*
*.ncb
*.LIB
*.s
*.dll
*.sym
*.wpj
*[Conflict].*
*.ilk
*.pdb
*.idb
DEBUG/*.*
RELEASE/*.*
*.ipch
Win32/*.*
Makefile.win
*.err
*.bc
ipch/*
*.tlog
*.sdf
*.log
*.lastbuildstate
*.embed.manifest
*.intermediate.manifest
*.vcxproj.user
*.vcxproj.filters
moc_*.*
qrc_*.*
*.sbr
*.vcl
*.vco
*.res
*Release/*
*Debug/*
*X86Rel/*
*emulatorRel/*
*ARMV4Rel/*
*ARMV4Dbg/*
!EXE/*